.logo {
  width: 100px;
  height: 100px;
  display: block;
}

.logo-system {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotateSystem 18s linear infinite;
}

.logo-system-reverse {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotateSystemReverse 28s linear infinite;
}

@keyframes rotateSystem {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateSystemReverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}